body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
p {
  color: #4a4a4a;
}
.titel {
  color: black;
}
.main-visual img {
  width: 100%;
}
/**********************
*****Header
***********************/
.header-box {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.views {
  font-family: "Roboto";
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.header {
  justify-content: flex-start;
  padding: 0px 30px;
}
.header-box a {
  text-decoration: none;
}
header .header-links {
  display: flex;
  width: 20%;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

header .header-links p {
  padding: 0;
  margin: -1%;
}

header .header-links .sign-in-link {
  padding: 5px 20px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
}

header .header-links .sign-in-link a {
  color: #495050;
  cursor: pointer;
}

header .header-links .sign-in-link .logout {
  color: black;
  cursor: pointer;
  margin-left: 120px;
}

header .header-links .img img {
  width: 30px;
  padding: 0;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  header .header-links {
    width: 61%;
  }
  header .header-links .sign-in-link {
    padding: 5px 15px;
    font-size: 15px;
  }
  .views {
    font-size: 15px;
  }
}
.sign-in {
  font-family: Roboto;
  color: black;
}

.cart-icon {
  height: 35px;
  margin-left: 20px;
  margin-top: 5px;
}

.main-visual img {
  width: 100%;
  margin-left: 0;
  margin-bottom: 2%;
}

.content {
  font-family: Roboto;
  margin-top: 0;
  width: 100%;
}
@media screen and (min-width: 500px) and (max-width: 850px){
  header .header-links {
    width: 30%;
  }
}
@media screen and (min-width: 500px) and (max-width: 850px) {
  header .header-links {
    width: 35%;
  }
}
@media screen and (min-width: 500px) and (max-width: 550px) {
  header .header-links {
    width: 50%;
  }
}
@media screen and (max-width: 280px) {
  header {
    padding: 0px 0px;
  }
  header .header-links {
    width: 50%;
  }
}
/*******************
*****Items
********************/
.item-list .item {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: 95%;
}
.item-list .item img {
  width: 30%;
}
.item-list .item .info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}
.item-list .item .info .info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-list .item .info .name {
  font-size: 30px;
  font-weight: bolder;
}
.item-list .item .info .info-bottom .price {
  font-size: 30px;
  font-weight: 400;
}
.item-list .item .info .info-bottom .add {
  padding: 10px 40px;
  background-color: #000;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.item-list .item .info .info-bottom .number {
  padding: 10px 40px;
  background-color: #000;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.item-list .item .info .info-bottom .number .count {
  padding: 0px 10px;
}
/**********************
****Media Screen
***********************/
@media screen and (max-width: 500px) {
  .item-list .item .info {
    padding: 0px 10px;
  }
  .item-list .item .info .name {
    font-size: 15px;
    font-weight: 300;
  }
  .item-list .item .info .info-bottom .price {
    font-size: 15px;
    font-weight: 300;
  }
  .item-list .item .info .info-bottom .add {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 5px;
  }
  .item-list .item .info .info-bottom .number {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
/**********************
****Footer
***********************/
footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  background-color: blanchedalmond;
  z-index: 2;
  border: 1px solid rgba(194, 232, 194, 0.18823529411764706);
  width: 100%;
}
footer .subtotal {
  font-family: Roboto;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

footer button {
  margin-right: 20px;
  margin-left: 20px;
  background-color: black;
  color: #ffffff;
  border: 0;
  padding: 10px 30px;
  font-size: 30px;
  font-family: Roboto;
  cursor: pointer;
}
/********************
***Media Screen
*********************/
@media screen and (max-width: 500px) {
  footer .subtotal {
    font-size: 20px;
  }
  footer button {
    font-size: 20px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 280px) {
  footer button {
    padding: 0;
  }
}

.popup {
  position: fixed;
  background-color: #00000042;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 10px;
  z-index: 2;
}
.popup .popup-inner {
  position: relative;
  margin: 5px;
  padding: 10px;
}

.popup h4 {
  margin-left: 25%;
}

.popup h5 {
  font-size: 30px;
  color: black;
  font-family: Roboto;
  text-align: center;
}

.popup .popup-inner .popup-preview {
  position: absolute;
  left: 35%;
  background-color: white;
  border-radius: 3%;
  margin-top: 6%;
  width: 25%;
  margin-right: 10%;
}
@media screen and (max-width: 500px) {
  .popup .popup-inner .popup-preview {
    position: absolute;
    left: 5%;
    width: 90%;
    background-color: #ffffff;
    border: 2px solid #707070;
  }
}

.popup .popup-inner .popup-preview .close {
  position: absolute;
  width: 27px;
  right: 0px;
}
.popup .popup-inner .popup-preview .input {
  left: 10%;
}
.popup .popup-inner .popup-preview .input .Melodum {
  display: flex;
  text-align: center;
  justify-content: center;
}
.popup .popup-inner .popup-preview .input .Melodum img {
  width: 10%;
  margin-right: 3%;
}
.popup .popup-inner .popup-preview .input .Melodum .bold {
  font-weight: bold;
  font-size: 35px;
  color: black;
}
.popup .popup-inner .popup-preview .input .bold2 {
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
}
.popup .popup-inner .popup-preview .input p {
  color: black;
}
@media screen and (max-width: 500px) {
  .popup .popup-content {
    top: 20%;
    left: 10%;
    width: 76%;
    padding: 0 4%;
  }
  ul.items li .info .name {
    margin: -5% 0% 26% 27%;
  }
}
@media screen and (max-width: 280px) {
  ul.items li .info .name {
    margin: -7% 0% 26% 27%;
  }
}

.popup input {
  background-color: #c2e8c230;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 30px;
  margin: 10px;
  border-style: none;
}

.inputtxt {
  width: 87%;
  height: 200px;
}

.button {
  background-color: black;
  font-family: Roboto;
  font-weight: bold;
  color: #ffffff;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 50px;
  margin: 10px;
  border-style: none;
  border-radius: 5px;
}
.bottom {
  text-align: center;
  color: #495050;
  text-decoration: none;
}

.box {
  width: 100%;
  height: 120px;
  background-color: black;
  position: relative;
}

.box p {
  font-family: Roboto;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin: 0 30%;
  position: absolute;
  top: 40px;
  /* left: 5%; */
}

@media screen and (max-width: 400px) {
  .box p {
    font-family: Roboto;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin: 0 15%;
    position: absolute;
    top: 40px;
    /* left: 5%; */
  }
}

.details {
  width: 100%;
  margin: 50px 0;
}
.details .product-details {
  width: 70%;
  margin: 0 auto;
  font-family: Roboto;
}

.details .box2 table {
  margin: 0;
  width: 100%;
  color: #000000;
  border-collapse: collapse;
}
.details .box2 .border {
  border-top: 1px solid black;
}

.details h3 {
  font-family: Roboto;
  color: black;
  font-weight: bolder;
  margin: 0;
}

.details h4 {
  font-family: Roboto;
  color: black;
  font-size: 20px;
  font-weight: normal;
  margin: 20px auto;
}

.details p {
  font-family: Roboto;
  color: #000000;
  font-size: 15px;
  font-weight: normal;
}
.details .product-details .box2 tr {
  height: 2em;
}

.details .product-details .box2 .td-item {
  width: 60%;
}

.details .product-details .box2 .td-quantity {
  width: 10%;
}

.details .product-details .box2 .td-price {
  width: 10%;
}

.details .product-details .box2 .border {
  border-top: 2px solid black;
  font-weight: bold;
  color: #313636;
  white-space: nowrap;
}
.details .total p {
  font-family: Roboto;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

/****************************
****Cart
*****************************/
.main .cart-list .cart-item {
  display: flex;
  justify-content: flex-start;
  padding: 10px 30px;
}
.main .cart-list .cart-item .info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 10px;
  width: 100%;
}
.main .cart-list .cart-item .item-image img {
  width: 100%;
}
.main .cart-list .cart-item .info .info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .cart-list .cart-item .info .name {
  font-size: 30px;
  font-weight: bolder;
}
.main .cart-list .cart-item .info .info-bottom .price {
  font-size: 30px;
  font-weight: 400;
}
.main .cart-list .cart-item .info .info-bottom .add {
  padding: 10px 40px;
  background-color: #000;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.main .cart-list .cart-item .info .info-bottom .number {
  padding: 10px 40px;
  background-color: #000;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.main .cart-list .cart-item .info .info-bottom .number .count {
  padding: 0px 10px;
}
/****************************
****Media Screen
*****************************/
@media screen and (max-width: 500px) {
  .main .cart-list .cart-item {
    padding: 10px 5px;
  }
  .main .main-visual .main-catch img {
    width: 100%;
  }
  .main .cart-list .cart-item .item-image {
    width: 50%;
  }
  .main .cart-list .cart-item .item-image img {
    width: 100%;
  }
  .main .cart-list .cart-item .info {
    padding: 5px 10px;
  }
  .main .cart-list .cart-item .info .name {
    font-size: 15px;
  }
  .main .cart-list .cart-item .info .info-bottom .price {
    font-size: 15px;
  }
  .main .cart-list .cart-item .info .info-bottom .number {
    padding: 10px 10px;
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 540px) {
  .main .cart-list .cart-item {
    padding: 10px 10px;
  }
  .main .cart-list .cart-item .info .name {
    font-size: 15px;
  }
  .main .cart-list .cart-item .info {
    padding: 10px 10px;
  }
  .main .cart-list .cart-item .info .info-bottom .price {
    font-size: 15px;
  }
  .main .cart-list .cart-item .info .info-bottom .number {
    padding: 10px 20px;
    font-size: 15px;
  }
}
@media screen and (min-width: 500px) and (max-width: 850px) {
}
/* .details .box2 .selected1 {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 65%;
}

.details .box2 .selected2 {
  display: flex;
  justify-content: space-between;
}

.details .box2 .total {
  display: flex;
  justify-content: space-between;
} */
.details .dispatch {
  width: 55%;
  margin: 0 15%;
}

.details .dispatch .form {
  font-family: Roboto;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.details .dispatch .form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0 35px;
  font-size: 1.2em;
  border: none;
  background-color: #ddeee6;
}

.details .submit {
  background-color: black;
  color: #ffffff;
  width: 140px;
  border: none;
  font-size: 25px;
  font-family: Roboto;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .details {
    width: 80%;
  }
  ul.items li img {
    width: 40%;
  }
  ul.items li .info {
    margin-top: -29%;
  }
  ul.items li .name {
    margin: -5% 0% 26% 27%;
  }
}
.message p {
  font-family: Roboto;
  color: #000000;
  width: 100%;
  font-size: 35px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .message p {
    font-family: Roboto;
    color: #000000;
  }
}
.backhome button {
  background-color: black;
  color: #ffffff;
  margin-top: 50px;
  border: 0;
  padding: 15px 25px;
  font-size: 20px;
  font-family: Roboto;
  cursor: pointer;
  margin: 0 0 0 40%;
}
@media screen and (max-width: 600px) {
  .backhome button {
    margin: 0 0 0 30%;
  }
}
@media screen and (max-width: 400px) {
  .backhome button {
    margin: 0 0 0 25%;
  }
}
@media screen and (max-width: 350px) {
  .backhome button {
    margin: 0 0 0 25%;
  }
}
.content li {
  list-style: none;
}
.content .item-image {
  width: 30%;
}

.message .color {
  font-weight: bold;
  color: black;
}
